* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

    body {
        background: #1E152A;

    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        margin-right: 50px;
        gap: 50px;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
        color: #FCFAFA;
        margin-left: 30px;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 20px;

    }

    a {
        text-decoration: none;
        color: #FCFAFA;
        font-size: 18px;
    }
    .one {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0;
        gap: 100px;
    }

    .one-kiri {
        flex: 1;
        margin-left: 5%;
    }

    .one-kiri h1 {
        font-size: 48px;
        color: #FCFAFA;
        margin-bottom: 20px;
    }

    .one-kiri p {
        font-size: 18px;
        color: #FCFAFA;
        margin-bottom: 30px;
    }

    .lihat {
        padding: 10px 20px;
        font-size: 18px;
        color: #FCFAFA;
        background-color: #6C63FF;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .lihat:hover {
        background-color: #5a52d4;
    }

    .lihat:active {
        background-color: #4a41a8;
    }

    .lihat:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(108, 99, 255, 0.5);
    }

 /* --- Gambar ijazah --- */
    .one-kanan {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .one-gambar {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-right: 30%;
        margin-left: 10%;
    }  

    .two {
        text-align: center;
        padding: 100px 0;
        gap: 100px;
        color:rgb(0, 0, 0);
        background-color: #FFFFEA;
    }
    
    .two-judul {
        font-size: 36px;
        margin-bottom: 50px;
    }

    .container-two {
        display: flex;
        gap: 50px;
        justify-content: center;
    }

    .box {
    width: 175px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    overflow: hidden; 
    }

    .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}